body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    /* background-color: red; */
    /* width: 400px; */
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    /* background-color: yellow; */
    width: 79vw;
    padding: ;
}

.container {
    display: flex;
}

.infoContainer {
    /* background-color: rgb(234, 82, 191); */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
}

.devInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello {
    font-size: 55px;
    font-family: 'Source Code Pro', monospace;
}

.name {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about {
    font-size: 30px;
}

.moreabout {
    font-size: 22px;
    font-family: 'Fira Sans', sans-serif;
}

.buttons {
    margin-top: 34px;
}

.btn {
    border-radius: 22px;
    background-color: dodgerblue;
    text-align: center;
    /* color: rgb(167, 11, 11); */
    color: white;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    padding: 9px 14px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: dodgerblue;
}

.btn-sm {
    font-size: 14px;
    padding: 10px 19px;
    margin: 12px 0;
}

.devPic img {
    height: 58vh;
}

/* CONTACTFORM */

.contactform {
    padding-left: 0 34px;
    padding-top: 144px;
    font-family: 'Fira Sans', sans-serif;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}


#emailHelp {
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

/* BLOGPAGE */

.blogItem {
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    margin: 23px;
}

p {
    font-family: 'Source Code Pro', monospace;
}

/* INTRODUCTION */

.intro h2 {
    font-family: 'Fira Sans', sans-serif;
    margin: 12px;
}

.intro p {
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}

.skillContainer {
    padding: 12px;
}

.skillItem {
    display: flex;
    align-items: center;
}

.skill {
    width: 265px;
    height: 6px;
    background-color: red;
    border-radius: 5px;
    border: 1px solid black;
}

.hundred {
    width: 265px;
    background-color: blueviolet;
}

.fifty {
    width: 125px;
    background-color: aqua;
}

.t5 {
    width: 75px;
    background-color: yellow;
}